#home-index-container {
  .social-links {
    padding: 20px;
    background: #fff;
  }

  .content-wrap {
    display: inline-block;
    width: 100%;
    background: #fff;
    padding: 30px 0;
  }

  .main-title {
    border-bottom: 1px solid $gray_efefef;
    padding: 0 10px 0 40px;
    position: relative;

    h2 {
      margin: 0;
      font-size: 15px;
      margin-bottom: 10px;
      color: $black_333;
      text-transform: uppercase;
      font-weight: 800;
    }
  }

  .content {
    padding: 40px;

    h1 {
      font-size: 28px;
      line-height: 25px;
      color: $black_333;
      text-transform: uppercase;
      margin-bottom: 10px;
      font-weight: 800;
      margin: 0;
      margin-bottom: 10px;
    }

    h3.position {
      font-size: 22px;
      color: $gray_777;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: 10px;
      font-weight: 300;
    }
  }

  section#who-am-i {
    .description {
      line-height: 22px;
      color: $gray_999;
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  table {
    tr {
      background: $gray_fafafa;

      td {
        border: 1px solid $gray_efefef;
        font-weight: 300;
        color: $gray_666;

        &:first-child {
          background-color: #fff;
          text-align: center;
          font-weight: 700;
          color: $black_333;
        }

        a {
          color: $gray_666;
          text-decoration: none;
        }
      }
    }
  }

  section#professionnal-skills {
    .box {
      @media (min-width: 992px) {
        @include flex;

        @include align-items(center);
      }
    }

    .title-box {
      padding: 5px 25px;
      text-align: center;
      text-transform: uppercase;
      top: 0;
      border: 1px dashed #cd5353;
      color: $gray_666;

      @media (min-width: 992px) {
        position: absolute;
        left: -15px;

        @include transform(rotate(90deg));
      }

      @media (max-width: 991px) {
        position: relative;
        left: 0;
        display: table;
        margin-bottom: 20px;
      }
    }
  }

  .progress-container {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      h4 {
        display: block;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 13px;
        color: $gray_666;
      }

      .bar-container {
        height: 15px;
        width: 100%;
        margin-top: 10px;
        border: 1px solid #cd5353;
        position: relative;

        @include border-radius(10px);
      }

      .progress {
        background-color: #cd5353;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 0px;
        border-radius: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .percent {
        position: absolute;
        right: 10px;
        top: 1px;
        font-size: 9px;
        color: #fff;
      }
    }
  }
}