.shared-user-information-container {
  position: relative;

  .avatar {
    img {
      max-width: 100%;
    }
  }

  figcaption {
    position: absolute;
    left: -20%;
    top: 21.5%;
    background: -moz-linear-gradient(left, rgba(51, 55, 61, 1) 0%, rgba(51, 55, 61, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(51, 55, 61, 1)), color-stop(100%, rgba(51, 55, 61, 0)));
    background: -webkit-linear-gradient(left, rgba(51, 55, 61, 1) 0%, rgba(51, 55, 61, 0) 100%);
    background: -o-linear-gradient(left, rgba(51, 55, 61, 1) 0%, rgba(51, 55, 61, 0) 100%);
    background: -ms-linear-gradient(left, rgba(51, 55, 61, 1) 0%, rgba(51, 55, 61, 0) 100%);
    background: linear-gradient(to left, rgba(51, 55, 61, 1) 0%, rgba(51, 55, 61, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33373d', endColorstr='#0033373d',GradientType=0 );

    @include transform(rotate(-90deg));

    span {
      color: #fff;
      opacity: 0.95;
      font-family: 'Open Sans', sans-serif;
      padding: 0 15px 0px 30px;
      font-size: 11px;
      display: block;
      text-transform: uppercase;
      font-weight: 300;
      line-height: 20px;
    }
  }
}