$gray_efefef: #efefef;
$black_33373d: #33373d;
$white_85878b: #85878b;
$red_cd5353: #cd5353;
$black_33373d: #33373d;
$black_333: #333;
$gray_777: #777;
$gray_999: #999;
$gray_fafafa: #fafafa;
$gray_666: #666;

$icon-user: "";
$icon-camera: "";
$icon-chat: "";
$icon-phone: "";
$icon-briefcase: "";
$icon-print: "";
$icon-megaphone: "";
$icon-monitor: "";
$icon-tools: "";
$icon-lamp: "";
$icon-quote: "";
$icon-layout: "";
$icon-comment: "";
$icon-down-circled: "";
$icon-location: "";
$icon-mail: "";
$icon-link: "";
$icon-graduation-cap: "";
$icon-lifebuoy: "";
$icon-twitter: "";
$icon-facebook: "";
$icon-linkedin: "";