@font-face {
  font-family: 'fontello';
  src: font-url("fontello.eot?58360246");
  src: font-url("fontello.eot?58360246#iefix") format("embedded-opentype"), font-url("fontello.woff2?58360246") format("woff2"), font-url("fontello.woff?58360246") format("woff"), font-url("fontello.ttf?58360246") format("truetype"), font-url("fontello.svg?58360246#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}